{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Arduino device edit</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-info" type="submit" value="Edit" />
        {{ form_end(edit_form) }}

        <ul style="list-style-type: none; margin: 0; padding: 0;">
            <li style="display: inline; margin-right: 5px; padding: 0;">
                <a class="btn btn-default" href="{{ path('arduinodevice_index') }}">Back to the list</a>
            </li>
            <li style="display: inline; margin-right: 5px; padding: 3px;">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
{% endblock %}
