{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Arduino device</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arduinoDevice.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ arduinoDevice.name }}</td>
            </tr>
            <tr>
                <th>Accesskey</th>
                <td>{{ arduinoDevice.accessKey }}</td>
            </tr>
            <tr>
                <th>Temperaturemax</th>
                <td>{{ arduinoDevice.temperatureMax }}</td>
            </tr>
            <tr>
                <th>Temperaturemin</th>
                <td>{{ arduinoDevice.temperatureMin }}</td>
            </tr>
            <tr>
                <th>Alarmed</th>
                <td>{% if arduinoDevice.alarmed %}Yes{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>

        <ul style="list-style-type: none; margin: 0; padding: 4px;">
            <li style="display: inline; margin-right: 5px; padding: 3px;">
                <a class="btn btn-default" href="{{ path('arduinodevice_index') }}">Back to the list</a>
            </li>
            <li style="display: inline; margin-right: 5px; padding: 3px;">
                <a class="btn btn-info" href="{{ path('arduinodevice_edit', { 'id': arduinoDevice.id }) }}">Edit</a>
            </li>
        </ul>
        <ul style="list-style-type: none; margin: 0; padding: 4px;">
            <li style="display: inline; margin-right: 5px; padding: 3px;">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
    <div class="col-md-1"></div>
{% endblock %}
